body {
  font-family: 'Quicksand', sans-serif;
}

table {
  outline: dotted 5px orange;
  width: 100%
  font-size: 30%;
}

img {
  width: 100%
}

td {
  display: block;
}

.hamburger {
  /*display: block;*/
  width: 3em;
  outline: dotted 5px orange;
  padding: 0em 0em 0em 0em;
}
