
@media only screen and (min-width: 400px) {
  table {
    width: 100%;
    text-align: center;

  }

  td {
    display: inline;
    padding: 2em;

  }
  .hamburger {
    display: none;
  }

/*}*/
/*MEGAN: you lost your closing bracket */
/*Also, make it so your menu items dont disapear behind the view when you make the window smaller. */

.hamburger {
    width: 3em;
    padding: 0em 0em 0em 0em;
    cursor: pointer;
  }
