
@media only screen and (min-width: 400px) {
  table {
    width: 100%;
    text-align: center;
  }
  td {
    display: inline;
    width: 100%;
    margin-right: 0.5em;
  }
  tr {
    width: 100%;
  }
  .hamburger {
    display: none;
  }
}

@media only screen and (min-width: 600px){
  td {
    display: inline;
    margin-right: 3em;
  }
}


.hamburger {
    width: 3em;
    padding: 0em 0em 0em 0em;
    cursor: pointer;
  }
